<div class="stage-width stage-height panel" data-bind="attr: {id: $data._id}">
  <div class="row">
    <div class="col col-1of2">
      <div class="media summary">
        <span class="img">
          <img class="icon" data-bind="if: icon, attr:{src:icon}">
        </span>
        <div class="bd">
          <h2 class="summary-name" data-bind="text: name"></h2>
          <span class="summary-type" data-bind="text: type"></span>
          <!--ko if:('description' in $data) -->
          <div class="description" data-bind="html: description">
          </div>
          <!--/ko-->
        </div>
      </div>
    </div>
    <div class="col col-1of2">
      <table class="stats" style="width:50%">
        <tr><th>Health</th><td data-bind="text: stats.health"></td></tr>
        <tr><th>Strength</th><td data-bind="text: stats.strength"></td></tr>
        <tr><th>Mana</th><td data-bind="text: stats.mana"></td></tr>
        <tr><th>Level</th><td data-bind="text: stats.level"></td></tr>
        <tr><th>Agility</th><td data-bind="text: stats.agility"></td></tr>
      </table>
      <p>
        Weapon:
        <span class="col col-1of2" data-bind="text: currentWeapon.name"></span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col col-1of2">
      <div id="inventory" class="items">
        <h2 class="heading">Inventory</h2>
        <ul class="compact" data-bind="foreach: inventory">
          <li class="item" data-bind="text: name, css: { equipped: ( $data.isEquipped ) }"></li>
        </ul>
      </div>
    </div>
    <div class="col col-1of2">
    </div>
  </div>
</div>