      <img class="backdrop" data-bind="attr: { src: backdrop }" width="800" height="600">
      <h1>Location: <span data-bind="text: id"></span></h1>
      <dl>
        <dt>Region:</dt>
        <dd data-bind="text: regionId"></dd>
        <dt>Terrain:</dt>
        <dd data-bind="text: terrain"></dd>
        <dt>Description:</dt>
        <dd data-bind="text: description"></dd>
      </dl>
      <h2>Here</h2>
      
      <ul data-bind="foreach: here">
        <li><span data-bind="text: name"></span> (<span data-bind="text: type"></span>)</li>
      </ul>

      <h2>Encounters</h2>
      <ul data-bind="foreach: encounters">
        <li><span data-bind="text: name"></span> (<span data-bind="text: type"></span>)</li>
      </ul>

      <h2>NPCs</h2>
      <ul data-bind="foreach: npcs">
        <li><span data-bind="text: type"></span> (<span data-bind="text: count"></span>)</li>
      </ul>
