<div class="media attribution">
  <div class="img"><span data-link="class{:~swatchClass(type)}"></span></div>
  <div class="bd field-{{:id}}">
    <h2>Location: <code>{{:id}}</code></h2>
  </div>
</div>  
<div class="field-description">
  <h3 class="caption">Description</h3>
  <p id="description_text" class="fullwidth mediumheight" data-link="description">{{>description}}</p>
</div>
<div class="field-description">
  <h3 class="caption">Encounter: <span data-link="encounterType">{{:encounterType}}</span></h3>
</div>
