<section id="hud" class="panel">
  <div id="nearby"></div>
  <div id="playerInfo"></div>
</section>  
<section id="drawer" class="panel">
    <ul class="panelist">
        <li class="panel world-map"><canvas id="minimap" width="200" height="200" data-bind="layers2d: test"></canvas></li>
        <li class="panel inventory"></li>
        <li class="panel weapon"></li>
    </ul>
</section>
<section id="main" class="panel">
  main content goes here
</section>  
<section id="status">
</section>

<script src="vendor/require.js" data-main="main"></script>
<script src="config.js"></script>
