<section id="hud" class="panel">
  <div id="tooldrawer">
    <ul id="maptoolbar" class="horizontallist">
        <li class="btn" id="saveBtn"><button>Save</button></li>
        <li class="btn" id="resetBtn"><button>Reset</button></li>
        <li class="btn" id="resetBtn"><button>Load Map...</button></li>
    </ul>
    <ul id="detailtoolbar" class="hidden horizontallist">
      <li class="btn"><button id="detailSaveBtn">Save Location</button></li>
      <li class="btn"><button id="detailResetBtn">Cancel Edits</button></li>
    </ul>
  </div>
</section>  
<section id="drawer" class="panel">
  <div id="palette">
    <ul id="terrainlist" class="panelist">
    </ul>
    <ul id="toollist" class="panelist">
      <li class="panel tool edittile"><span>edit tile</span></li>
    </ul>
  </div>
</section>
<section id="main" class="panel">
  <div id="map">
    <canvas id="grid"></canvas>  
    <div id="gridOverlay"></div>  
  </div>
  <div id="detail" class="hidden">
    <div id="detailContent"></div>
  </div>
  <script type="text/x-template" id="detail-template">
    <div class="media attribution">
      <div class="img"><span class="swatch {{type}}"></span></div>
      <div class="bd field-{{id}}">
        <h2>Location: <code>{{id}}</code></h2>
      </div>
    </div>  
    <input type="hidden" name="coords" value="{{id}}"/>
    <div class="field-description">
      <h3 class="caption"><label for="">Description</label></h3>
      <p class="hint">As you enter this location, you see: </p>
      <p><textarea name="description" id="description_text" class="fullwidth mediumheight">{{description}}</textarea></p>
    </div>
    <div class="field-description">
      <h3 class="caption"><label for="">Encounter</label></h3>
      <p class="hint">Pick what happens here</p>
      <p><select name="encounterlist" id="encounter_type"></select></p>
      <div id="npc_encounters">
        <p>Type: <select name="npc_type1" id="npc_type1" class="npc_picker"></select> Number: <input type="number" value="0" min="0"></p>
        <p>Type: <select name="npc_type2" id="npc_type2" class="npc_picker"></select> Number: <input type="number" value="0" min="0"></p>
        <p>Type: <select name="npc_type3" id="npc_type3" class="npc_picker"></select> Number: <input type="number" value="0" min="0"></p>
      </div>
    </div>
  </script>
</section>  

<script type="text/javascript">
  var config = {
    packages: {
      // package mappings
      dollar: 'vendor/zepto',
      util: 'lib/util',
      compose: 'vendor/compose',
      text: 'plugins/vendor/text',
      json: 'plugins/vendor/json',
      image: 'plugins/vendor/image',
      order: 'plugins/vendor/order'
    }
  };
</script>
<script src="./vendor/require.js"></script>
<script>
  require({
    baseUrl: '..',
    // configure our AMD loader
    paths: config.packages
  }, ['mapEditor']);
</script>