<div class="row">
  <div class="col col-4of5">
    <div class="tooldrawer row">
        <div class="col col-2of5">
          <li class="btn" id="loadBtn"><button disabled="disabled">Load Map...</button></li>
        </div>
        <div class="col col-3of5 col-right">
          <ul id="regionToolbar" class="horizontallist" data-bind="click: onRegionToolbarClick">
              <li class="btn" data-name="save"><button>Save</button></li>
              <li class="btn" data-name="reset"><button>Reset</button></li>
          </ul>
        </div>
    </div>
    <section id="region-editor-detail" class="panel">
      <ul data-bind="foreach: tiles">
        <li data-bind="text: type"></li>
      </ul>
      <div id="map">
        <!-- map canvas -->
        <canvas id="grid"></canvas>
        <div id="gridOverlay"></div>
      </div>
      <div id="mapnavigator">
        <!-- map navigator -->
      </div>
    </section>
  </div>
  <div class="col col-1of5">
    <div class="tab-container sidebar-right" id="regionEditorDrawer">
      <div class="tab-tray">
        <span class="tab-label smaller" data-target="terrainEditPanel">Terrain</span>
        <span class="tab-label smaller selected" data-target="regionEditPanel">Region</span>
      </div>
      <div class="tab-panels">
        <div class="tab-panel" id="terrainEditPanel" style="display:none">
          <div id="palette">
            <ul id="terrainlist" class="panelist">
              {{for ~asArray(~terrainTypes) ~matchContext=#view.ctx.editor}}
                <li 
                  data-link="data-selected{:~matches(name, 'currentTool', ~matchContext)}"
                  class="panel tool {{:name}}"><span>{{:name}}</span></li>
              {{/for}}
            </ul>
          </div>
        </div>
        <div class="tab-panel" id="regionEditPanel" >
          <ul id="toollist" class="panelist">
            <li class="panel tool edittile" data-action="edittile"><span>edit tile</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
