<div class="row">
  <div class="col col-4of5">
    <div class="tooldrawer row">
        <div class="col col-2of5">
          <li class="btn" id="loadBtn"><button disabled="disabled">Load Map...</button></li>
        </div>
        <div class="col col-3of5 col-right">
          <ul id="regionToolbar" class="horizontallist" data-bind="click: onRegionToolbarClick">
              <li class="btn" data-name="save"><button>Save</button></li>
              <li class="btn" data-name="reset"><button>Reset</button></li>
          </ul>
        </div>
    </div>
    <section id="region-editor-detail" class="panel">
      <div id="map">
        <!-- map canvas -->
        <canvas class="grid" width="500" height="500" data-bind="attr: { 'width': mapWidth, 'height': mapHeight }"></canvas>
        <div class="gridOverlay" data-bind="style: { 'width': mapWidthPx, 'height': mapHeightPx }, click: onGridMouseDown"></div>
      </div>
      <div id="mapnavigator">
        <!-- map navigator -->
      </div>
    </section>
  </div>
  <div class="col col-1of5">
    <div class="tab-container sidebar-right" id="regionEditorDrawer">
      <div class="tab-tray" data-bind="click: onTabTrayClick">
        <span class="tab-label smaller" data-name="terrain" data-bind="css-matches-name: {selected: drawerMode}">Terrain</span>
        <span class="tab-label smaller" data-name="region"  data-bind="css-matches-name: {selected: drawerMode}">Region</span>
      </div>
      <div class="tab-panels">
        <div class="tab-panel" id="terrainEditPanel" data-name="terrain" data-bind="css-matches-name: {selected: drawerMode}" style="display:none">
          <div id="palette">
            <!-- css-matches-name: {selected: currentTool} -->
            <ul id="terrainlist" class="panelist" data-bind="forin: terrainTypes, attr: { title: terrainList.length }">
                <li data-bind="attr: { 'data-name': name }" class="panel tool"><span data-bind="text: name"></span></li>
            </ul>
          </div>
        </div>
        <div class="tab-panel" id="regionEditPanel" data-name="region" data-bind="css-matches-name: {selected: drawerMode}" style="display:none">
          <ul id="toollist" class="panelist">
            <li class="panel tool edittile" data-action="edittile"><span>edit tile</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
