/* 
  core.css
*/
body {
  background-color: #ddd;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

h1, h2, h3, h3, h4, h5 {
  margin: 0;
  padding: 0.2em 0 0.75em 0;
}

.hidden {
  display: none;
  /* TODO: some fancy transition */
}

.hint {
  color: #666;
  font-size: smaller;
  margin: 0.2em;
}
.caption {
  margin: 0;
  padding: 0.1em 0 0.3em 0;
}

/* ====== media ====== */
.media {margin:10px;}
.media, .bd {overflow:hidden; _overflow:visible; zoom:1;}
.media .img {float:left; margin-right: 10px;}
.media .img img {display:block;}
.media .imgExt{float:right; margin-left: 10px;}

.fullwidth { 
  width: 100%; 
}
.mediumheight { 
  height: 8em;
}
.shortheight { 
  height: 3em;
}

.panelist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.panel {
  border: 1px solid #eee;
  border-bottom-color: #ccc;
  margin-bottom: 5px;
  border-radius: 6px;
  min-height: 20px;
}
.horizontallist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.horizontallist li {
  display: inline-block;
}
#tooldrawer {
  padding: 8px 12px;
}
#tooldrawer button {
  padding: 6px 14px;
  border: 1px solid #eee;
  border-bottom-color: #ccc;
  margin-bottom: 5px;
  border-radius: 6px;
}
#tooldrawer button:hover {
  background-color: #99ffff;
}

#drawer {
  width: 200px;
  position: absolute;
  top: 5px; bottom: 5px; right: 5px;
}
#hud {
  position: absolute;
  top: 5px; right: 210px; left: 5px;
  height: 160px;
  background-color: #666;
}
#main {
  position: absolute;
  top: 170px; right: 210px; left: 5px; bottom: 60px;
  padding: 10px;
  min-height: 60px;
  background-color: #fff;
}

#status {
  right: 210px; left: 5px; bottom: 5px;
  height: 55px;
  padding: 5px 10px;
  position: absolute;
  background: #ffc;
  overflow: visible;
}

.encounter {
  background-color: #f9f9d9;
  color: #900;
}
