/*
  core.css
  text and content element styles
*/

body {
  background-color: #ddd;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}


/* heading styles */
h1, h2, h3, h3, h4, h5 {
  margin: 0;
  padding: 0.2em 0 0.75em 0;
}

h2 {
  font-size: 1.3em;
}
h3 {
  font-size: 1.1em;
}

/* ====== media block ====== */
.media,
.summary {
  margin:10px;
}
.media, .bd,
.summary {
  overflow:hidden;
  _overflow:visible;
  zoom:1;
}
.media > .img,
.summary > .img {
  float:left;
  margin-right: 10px;
}
.media > .img > img,
.summary > .img > img {
  display:block;
}
.media > .imgExt,
.summary > .imgExt{
  float:right;
  margin-left: 10px;
}

.fullwidth {
  width: 100%;
}
.mediumheight {
  height: 8em;
}
.shortheight {
  height: 3em;
}
.hidden {
  display: none;
}

.panelist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hint {
  color: #666;
  font-size: smaller;
  margin: 0.2em;
}
.caption {
  margin: 0;
  padding: 0.1em 0 0.3em 0;
}

/* data presentation styles */
dt {
  display: block;
  float: left;
  width: 12em;
  font-weight: bold;
  clear: both;
}

dl:after, dd:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
dd {
  display: block;
  float: left;
  margin: 0 0 0.5em 0;
  width: calc(100% - 13em - 12px);
}
dt, dd {
  padding: 3px 6px;
}

tbody > tr > th {
  font-weight: normal;
  text-align: left;
}
td.num {
  text-align: right;
}

table.stats {
  border-collapse: collapse;
  border-spacing: 0;
}
.stats th {
  text-align: left;
  padding: 3px 9px;
  font-weight: normal;
}
.stats td {
  padding: 3px 9px;
  text-align: right;
  font-weight: bold;
}
.stats tr:nth-child(even) > td,
.stats tr:nth-child(even) > th {
  background-color: rgba(0,0,0,0.2);
}

/* list styles */
ul.compact {
  margin: 0 0 0.5em 0;
  padding: 0;
}
ul.compact > li {
  list-style-type: none;
  margin: 0 0 2px 0;
}
ul.compact > li > p {
  margin: 0;
}

.horizontallist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.horizontallist li {
  display: inline-block;
}

/* some reused specifics - might move */
.screenLabel {
  background-color: transparent;
}
.screenLabel.active {
}

/* summary block */
h2.name-label {
  font-size: 1em;
  margin-bottom: 0;
}
.summary-type {
  display: block;
  font-style: italic;
  margin-bottom: 0.5em;
}


/* inventory styles */
.equipped {
  font-style: italic;
}

