h1 {
  margin: 0;
  padding: 12px;
  font-size: 1.8em;
  color: #eee;
}
#main {
  background-color: transparent;
}
.item .field-id {
  
}
.tab-label {
  padding: 4px 10px;
  font-size: 1.4em;
  border: 2px solid;
  border-color: #fff #ccc #eee #ccc;
  border-bottom-style: none;
  opacity: 0.3;
  cursor: pointer;
  display: table-cell;
  vertical-align: bottom;
}
.smaller.tab-label {
  padding: 4px 10px;
  font-size: 1em;
  cursor: pointer;
}
.tab-label.selected {
  opacity: 1.0;
  background-color: #fff;
}
.tab-tray {
  display:table;
  padding-left: 3px;
  min-height: 2.5em;
}

.tab-panel {
  padding: 5px 10px;
  max-width: 64em;
}
.tab-panel.selected {
  display: block!important;
}

.tab-panels {
  position:relative;
  border: 2px solid;
  border-color: #fff #ccc #666 #ccc;
}

.tooldrawer {
  padding: 1px;
  min-height: 2.5em;
}
.tooldrawer button {
  padding: 6px 14px;
  border: 2px outset #eee;
  border-radius: 6px;
}
#tooldrawer button:hover {
  background-color: #99ffff;
}

#drawer {
  width: 200px;
  position: absolute;
  top: 5px; bottom: 5px; right: 5px;
}

.media.header {
  margin-left: 0;
}

.hint {
  font-size: 0.8em;
  color: #333;
  padding-top: 0.4em;
  margin: 0;
}
.btn {
  display:inline-block;
  padding: 3px 6px;
  border: 2px;
  font-weight: bold;
  cursor: pointer;
}
.btn.busy button {
  background: url('../img/ajax-loader.gif') no-repeat 1px 6px;
}
.add-row {
  background-color: #ada;
}
.delete-row {
  background-color: #daa;
}
.divider {
  display: block;
  float: left;
  margin-top: 2px;
  border-left: 2px outset #333;
  width: 1px;
  height: 2em;
}
.sidebar-right {
  margin-top: 0.74em;
  margin-left: 0.5em;
}
#tile-editor-detail {
  background-color: #eee;
  border: 1px double #999;
  border-radius: 8px;
  padding: 10px;
}
