/*
	main.css
*/

html, body {
	margin: 0; padding: 0;
	background-color: #654321;
	color: #dedede;
}

.panel.collapsed {
  transform:translate(-800px, 0);
  /* squash then move off-screen */
  transition-property: transform, z-index;
  transition-duration: 0.45s, 0s;
  transition-delay:    0s, 0.45s;
  z-index: -1;
}
.panel.right-panel.collapsed {
  transform:translate(800px, 0);
}
.panel {
  position: relative;
  padding: 6px 12px;
  left: 0;
  display: block;
  transform-origin: 0 50%;
  transform:translate(0, 0);

  /* move on-screen then un-squash */
  transition-property: transform, z-index;
  transition-timing-function: ease-out;
  transition-duration: 0.6s, 0s;
  transition-delay:    0s, 0.6s;
  z-index: 1;
}
.screen > .panel {
  border: 1px solid #000;
}
.screenLabel {
  background-color: transparent;
}
.screenLabel.active {

  background-color: #fff;
}
.layer {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 10;

  transform:scaleY(1) translateY(0);

  /* move on-screen then un-squash */
  transition-property: transform, top;
  transition-timing-function: ease-out;
  transition-duration: 0.3s, 0s;
  transition-delay:    0s, 0s;
}
.layer.collapsed {
  transform:scaleY(0) translateY(600px);
  /* squash then move off-screen */
  transition-duration: 0.15s, 0s;
  transition-delay:    0s, 0.15s;
  top: -2000px;
}

.layer.layer-bg {
  z-index: 0;
}
.layer.layer-fg {
  z-index: 100;
}

#wrapper {
	margin: 5px 10px;
	min-width: 800px;
	min-height: 600px;
	position: relative;
}

#footer, #topbar {
  position: absolute;
  left: 0; right: 0;
}

#topbar {
	background-color: #000;
	top: 0;
	display: block;
	min-height: 32px;
	z-index: 5;
	-webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.97);
	-moz-box-shadow:    0px 4px 30px rgba(0, 0, 0, 0.97);
	box-shadow:         0px 4px 30px rgba(0, 0, 0, 0.97);
}

#playerInfo {
	padding-top: 8px;
}
#playerInfo .player-icon {
	position: absolute;
	top: 0; left: 5px;
	height: 32px;
	width: 32px;
}
#playerInfo .player-label {
	position: relative;
	padding-left: 40px;
}
#playerInfo h2.player-label {
	font-size: 1em;
}

#main {
	/*background-color: rgba(0,0,0, 0.6);*/
	position: relative;
	top: 32px;
	min-height: 600px;
}

#footer {
	background-color: #000;
	position: absolute;
	bottom: 0; right: 0;
	left: 0;
	display: block;
	min-height: 64px;
	z-index: 5;
	-webkit-box-shadow: 0px -10px 20px 0px rgba(0, 0, 0, 0.57);
	-moz-box-shadow:    0px -10px 20px 0px rgba(0, 0, 0, 0.57);
	box-shadow:         0px -10px 20px 0px rgba(0, 0, 0, 0.57);
}

#messages {
	position: absolute;
	bottom: 0; left: 0px; right: 10px;
	z-index: 5;
	background: #000;
}
#messages > ul {
	max-height: 5em;
	overflow: auto;
}


.panelist {
	margin: 0;
	padding: 0;
}

.area {
	position: relative;
	margin: 0 auto;
}

.panel {
	display: block;
	padding: 8px;
	margin: 10px;

	/*background-color: rgba(0,255,51, 0.6);*/
	-webkit-box-shadow: 0px -4px 30px rgba(0, 0, 0, 0.97);
	-moz-box-shadow:    0px -4px 30px rgba(0, 0, 0, 0.97);
	box-shadow:         0px -4px 30px rgba(0, 0, 0, 0.97);
}

li.panel {
	list-style-type:  none;
}

.overlay-panel {
	background: rgba(0,0,0,0.5);
}
.allies-panel {
	background: rgba(255,255,255,0.65);
	color: #333;
	position: absolute;
	width: 38%;
	left: 0;
	top: 150px;
}
.npc-panel {
	position: absolute;
	width: 38%;
	right: 0;
	top: 150px;
}

.right-panel.showing,
.left-panel.showing {
	transform: translateX(0); /*slide in from the right*/
}
.right-panel {
	position: absolute;
	right: 0;
	transition: transform 0.3s ease-out;
	transform: translateX(110%); /*tucked off to the right*/
}
.left-panel {
	position: absolute;
	left: 0;
	transition: transform 0.3s ease-out;
	transform: translateX(-110%); /*tucked off to the left*/
}

.info-panel {
	background: rgba(255,255,255,0.65);
	color: #333;
	width: 45%;
	top: 10px;
	bottom: 10px;
}

.combat-panel {
	background: rgba(0,0,0,0.75);
}

#main > .location {
	max-width: 784px;
	height: 600px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.layer {
	position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
img.backdrop {
	position: absolute;
	top: 0; left: 0;
	z-index: 0;
	display: block;
	opacity: 0.65;
}
.layer-fg {
  top: 55%;
  z-index: 10;
}
.layer-over {
  opacity: 1;
  z-index: 100;
}
.toggleable.collapsed > * {
	display: none;
}

.toggleable.collapsed > .heading {
	display: block;
}
.toggleable.collapsed > .heading:after {
	transform:rotate(0);
	-webkit-transform:rotate(0);
}

.toggleable > .heading:after {
	display: block;
	background-color: #000;
	color: #fff;
	content: "►";
	text-align: center;
	font-size: 0.5em;
	width: 1.3em;
	float: right;
	height: 1.3em;
	padding: 1px;
	margin: 2px;
	border: 2px solid #000;
	border-radius: 12px;

	-webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.57);
	-moz-box-shadow:    0 0 4px 2px rgba(0, 0, 0, 0.57);
	box-shadow:         0 0 4px 2px rgba(0, 0, 0, 0.57);

	transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
}

.message {
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.57);
	-moz-box-shadow:    0 0 2px rgba(0, 0, 0, 0.57);
	box-shadow:         0 0 2px rgba(0, 0, 0, 0.57);
}
.message > .status {
	color: #888;
	font-style: italic;
}

.item.equipped {
	font-style: italic;
}

.health-bar {
	height: 8px;
	background-color: #ff9;
	display: block;
}

@-moz-keyframes pulse {
  0% {
    box-shadow: 0 0 5px #f00, 0 0 15px 0px white;
  }
  50% {
    box-shadow: 0 0 15px #f00, 0 0 15px 25px rgba(255,255,255,0.4);
  }
  100% {
    box-shadow: 0 0 5px #f00, 0 0 15px 0 white;
  }
}
.struck {
  animation: pulse 0.4s ease-in-out;
}

.encounter {
  background-color: #f9f9d9;
  color: #900;
}
