#main { 
  overflow: auto;
}
#grid {
  margin: 0; padding: 0;
}
#map {
  background: url('../resources/graphics/gridbg.gif');
/*  background: url('../resources/graphics/sandygrid.png') 0 0;
*/  margin: 0; padding: 0;
}
.desert {
  background: url('../resources/graphics/dryground.jpg') no-repeat scroll top left;
}
.marsh {
  background: url('../resources/graphics/marshyground.png') no-repeat scroll top left;
}
.plains {
  background: url('../resources/graphics/grassground.jpg') no-repeat scroll top left;
}
.mountains {
  background: url('../resources/graphics/mountianground.png') no-repeat scroll top left;
}
.barren {
  background: url('../resources/graphics/desertground.jpg') no-repeat scroll top left;
}
.water {
  background: url('../resources/graphics/water.jpg') no-repeat scroll top left;
}
.abyss {
  background: url('../resources/graphics/abyss.jpg') no-repeat scroll top left;
}
.sand {
  background: url('../resources/graphics/sandground.jpg') no-repeat scroll top left;
}
.forest {
  background: url('../resources/graphics/forest.jpg') no-repeat scroll top left;
}
.ice {
  background: url('../resources/graphics/ice.jpg') no-repeat scroll top left;
}
.tool.clear {
  background: url('../resources/graphics/gridbg.gif');
}
.tool.edittile {
  background: #DDD url('../../resources/graphics/tools/edit.png') no-repeat scroll top left;
}
.tool span {
  background-color: white;
  display:block;
  margin-left: 50px;
  padding: 4px;
  line-height: 30px;
}
.tool.active {
  outline: 2px inset red;
}
.swatch {
  width: 3em; height: 3em; 
  display: block;
}
#map {
  position: relative;
  width: 640px;
  height: 480px;
  overflow: auto;
  margin: 0; padding: 0;
}
#grid {
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
}
#gridOverlay {
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  z-index: 10;
}
.tile {
  position: absolute;
  top: 0; left: 0;
  margin: 0;
}
.tile:hover {
  outline: 1px dotted white;
}

#hud {
  position: absolute;
  top: 5px; right: 210px; left: 5px;
  height: 3em;
  background-color: #666;
}
#main {
  position: absolute;
  top: 60px; right: 210px; left: 5px; bottom: 5px;
  padding: 10px;
  min-height: 60px;
  background-color: #fff;
}
