/*terrain.css*/

.layer-fg.desert {
  background: url('../resources/graphics/dryground.jpg') scroll top left;
}
.layer-fg.marsh {
  background: url('../resources/graphics/marshyground.png') scroll top left;
}
.layer-fg {
  background-color: rgba(0,0,0,0.9);
  -webkit-box-shadow: 0px -3px 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow:    0px -3px 8px rgba(0, 0, 0, 0.75);
  box-shadow:         0px -3px 8px rgba(0, 0, 0, 0.75);
}
.layer-fg > .ground {
  top: 2px;
  opacity: 0.3;
}

.layer-fg.plains {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.27) 0%, rgba(0,0,0,0) 4%, rgba(0,0,0,0.02) 77%, rgba(0,0,0,1) 95%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.27)), color-stop(4%,rgba(0,0,0,0)), color-stop(77%,rgba(0,0,0,0.02)), color-stop(95%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.27) 0%,rgba(0,0,0,0) 4%,rgba(0,0,0,0.02) 77%,rgba(0,0,0,1) 95%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.27) 0%,rgba(0,0,0,0) 4%,rgba(0,0,0,0.02) 77%,rgba(0,0,0,1) 95%,rgba(0,0,0,1) 100%); /* W3C */

  -webkit-box-shadow: 0px -3px 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow:    0px -3px 8px rgba(0, 0, 0, 0.75);
  box-shadow:         0px -3px 8px rgba(0, 0, 0, 0.75);
}

.layer-fg.mountains > .ground {
  background: url('../resources/graphics/foreground_dirt.jpg') scroll top left;
}
.layer-fg.barren {
}
.layer-fg.water {
}
.layer-fg.abyss {
}
.layer-fg.sand {
}
.layer-fg.forest > .ground {
  background: url('../resources/graphics/foreground_forest_floor.jpg') scroll top left;
  opacity: 0.35;
}
.layer-fg.ice {
  background: url('../resources/graphics/ice.jpg') scroll top left;
  border-top: 2px solid #000;
}
